            <div className="input-wrapper">
                <IntegerInput
                    label="<%- title %>"
                    min={<%- min %>}
                    max={<%- max %>}
                    value={this.state.input<%- upperCaseFirst(inputID) %>}
                    invalidLines={
                        this.state.invalidInputs.get("<%- inputID %>") || new Set()
                    }
                    onChange={set<%- upperCaseFirst(inputID) %>}
                />
            </div>
